* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}

nav {
	margin-right: 8%;
	display: inline-block;
	position: sticky;
	font-weight: bold;
	top: 0;
	bottom: 100%;
	margin-bottom: -3%;
	z-index: 3;


}
#logo {
	float: left;
	padding-left: 10rem;
	display: inline-block;

}
.nav-logo {
	display: inline-block;
	margin-right: 20rem;
}

.right-nav {
	display: inline-block;
	margin-right: -20rem;



}
.nav {
	display: inline-block;
	padding: 1rem;
	text-decoration-style: solid;



}

.tuitt-button {
	border: none;
	background-color: #c2195b;
	border-radius: 120px;
	padding: 10px;
	text-align: center;
	margin: 2rem 1rem;
	color: white;
	width: 100px;
	font-weight: bold;


}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 60vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 100%;
	z-index: 2;
	opacity: 0.8;

}

.front-bg {
	background-color: black;
	min-height: 70vh;
	opacity: 0.7;
	color: white;


}

.title {
	font-family: 'Zilla Slab';
	text-align: right;
	margin-right: 10rem;
	margin-top: 1rem;
	font-size: 2.5rem;
	white-space: pre;
}

.title-2{
	font-family: 'Zilla Slab';
}
.subtitle {
	text-align: right;
	margin-right: 10rem;
	font-size: 1.5rem;
	white-space: pre;
	font-weight: lighter;
}

.apply-button {
	float: right;
	margin-right: 10rem;
	color: white;
	width: 150px;
	font-weight: bold;
	border: none;
	background-color: #c2195b;
	border-radius: 120px;
	padding: 10px;
}

.intro {
	margin-top: 10rem;
	text-align: center;
}

.pre-footer {
	margin-top: 5rem ;
	background-color: #f7fbfb;
	text-align: center;
	padding: 5rem;
}

.book-button {
	background-color: #336589 ;
	border-radius: 120px;
	width: 150px;
	padding: 10px;
}

footer {
	text-align: center;
}